body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

#output {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 9px;
  border-radius: 4px;
}
